# Valuation Visualization Analysis

---

## Using Financial Modeling Prep API

https://financialmodelingprep.com/developer/docs/

In [55]:
import requests
import pandas as pd
import numpy as np
from dotenv import load_dotenv
from pathlib import Path
import os
import time
import json
import datetime

#David
#env_path = Path(r'C:\Users\david\Dropbox\Learning\Northwestern\Project1\.env')
#Marshall
env_path = Path('/Users/marshallwolfe/Desktop') / '.env'
#env_path = Path(r'C:\Users\Metin\Documents\nufintech\.env')
#Amrita
#env_path = Path(r'C:\Users\Metin\Documents\nufintech\.env')

load_dotenv(env_path)
api_key = os.getenv('FINANCIAL_MODELING_API_KEY')

In [56]:
# Confirm if load_dotenv worked. Remove this later!
load_dotenv()

True

In [57]:
ticker_path = Path('Resources/mmm_ticker.csv')
# ticker_path = Path('Resources/dow_tickers.csv')

In [63]:
# Tickers DOW, DIS, WBA have incomplete data for the last 10 years

tickers_df = pd.read_csv(ticker_path, header=None)
tickers = list(tickers_df[0].values)
dow_is_df = pd.DataFrame()
date_list = []
ticker_list = []
revenue_list = []
eps_list = []
shares_outstanding_list = []

for year in range(15):

    for ticker_name in tickers:

        url = f"https://financialmodelingprep.com/api/v3/income-statement/{ticker_name}?apikey={api_key}"
        requests.get(url).content
        parsed = json.loads(requests.get(url).content)
        
        try:
            date_list.append(parsed[year]['date'])
        except:
            date_list.append(np.nan)
            
        ticker_list.append(ticker_name)
            
        try:
            revenue_list.append(parsed[year]['revenue'])
        except:
            revenue_list.append(np.nan)
            
        try:
            eps_list.append(parsed[year]['eps'])
        except:
            eps_list.append(np.nan)

        try:
            shares_outstanding_list.append(parsed[year]['weightedAverageShsOut'])
        except:
            shares_outstanding_list.append(np.nan)
    
dict1 = {'Date': date_list, 'Ticker': ticker_list, 'Revenue': revenue_list, 'EPS': eps_list, 'Shares Outstanding': shares_outstanding_list}
dow_is_df = pd.DataFrame(dict1)

In [64]:
# Show all rows
pd.set_option('display.max_rows',600)
df_copy = dow_is_df
df_copy

          Date Ticker      Revenue   EPS  Shares Outstanding
0   2019-12-31    MMM  32136000000  7.92           577000000
1   2018-12-31    MMM  32765000000  9.09           588500000
2   2017-12-31    MMM  31657000000  8.13           597500000
3   2016-12-31    MMM  30109000000  8.35           604700000
4   2015-12-31    MMM  30274000000  7.72           625600000
5   2014-12-31    MMM  31821000000  7.63           649200000
6   2013-12-31    MMM  30871000000  6.83           681900000
7   2012-12-31    MMM  29904000000  6.40           693900000
8   2011-12-31    MMM  29611000000  6.05           708500000
9   2010-12-31    MMM  26662000000  5.72           713700000
10  2009-12-31    MMM  23123000000  2.04           700500000
11  2008-12-31    MMM  25269000000  4.95           699000000
12  2007-12-31    MMM  24462000000  5.70           718000000
13  2006-12-31    MMM  22923000000  5.15           747000000
14  2005-12-31    MMM  21167000000  4.23           764000000

In [65]:
# Check data types
df_copy.dtypes

Date                   object
Ticker                 object
Revenue                 int64
EPS                   float64
Shares Outstanding      int64
dtype: object

In [66]:
# Convert Date to datetime
df_copy['Date'] = pd.to_datetime(df_copy['Date'],infer_datetime_format=True)
df_copy.dtypes

Date                  datetime64[ns]
Ticker                        object
Revenue                        int64
EPS                          float64
Shares Outstanding             int64
dtype: object

In [67]:
# Check for nulls
df_copy.isnull().sum()

Date                  0
Ticker                0
Revenue               0
EPS                   0
Shares Outstanding    0
dtype: int64

In [68]:
# Drop nulls
df_copy.dropna(inplace=True)
df_copy

         Date Ticker      Revenue   EPS  Shares Outstanding
0  2019-12-31    MMM  32136000000  7.92           577000000
1  2018-12-31    MMM  32765000000  9.09           588500000
2  2017-12-31    MMM  31657000000  8.13           597500000
3  2016-12-31    MMM  30109000000  8.35           604700000
4  2015-12-31    MMM  30274000000  7.72           625600000
5  2014-12-31    MMM  31821000000  7.63           649200000
6  2013-12-31    MMM  30871000000  6.83           681900000
7  2012-12-31    MMM  29904000000  6.40           693900000
8  2011-12-31    MMM  29611000000  6.05           708500000
9  2010-12-31    MMM  26662000000  5.72           713700000
10 2009-12-31    MMM  23123000000  2.04           700500000
11 2008-12-31    MMM  25269000000  4.95           699000000
12 2007-12-31    MMM  24462000000  5.70           718000000
13 2006-12-31    MMM  22923000000  5.15           747000000
14 2005-12-31    MMM  21167000000  4.23           764000000

In [69]:
# Convert Year, Revenue, and Shares Outstanding to Integers
df_copy['Year']=df_copy['Date'].apply(lambda x:x.year).astype(int)

# The next two lines cause problems on PCs
# df_copy['Revenue']=df_copy['Revenue'].astype(int)
# df_copy['Shares Outstanding']=df_copy['Shares Outstanding'].astype(int)

# Reorder columns (move Year to the far left)
df_copy=df_copy[['Year','Date','Ticker','Revenue','EPS','Shares Outstanding']]
df_copy

    Year       Date Ticker      Revenue   EPS  Shares Outstanding
0   2019 2019-12-31    MMM  32136000000  7.92           577000000
1   2018 2018-12-31    MMM  32765000000  9.09           588500000
2   2017 2017-12-31    MMM  31657000000  8.13           597500000
3   2016 2016-12-31    MMM  30109000000  8.35           604700000
4   2015 2015-12-31    MMM  30274000000  7.72           625600000
5   2014 2014-12-31    MMM  31821000000  7.63           649200000
6   2013 2013-12-31    MMM  30871000000  6.83           681900000
7   2012 2012-12-31    MMM  29904000000  6.40           693900000
8   2011 2011-12-31    MMM  29611000000  6.05           708500000
9   2010 2010-12-31    MMM  26662000000  5.72           713700000
10  2009 2009-12-31    MMM  23123000000  2.04           700500000
11  2008 2008-12-31    MMM  25269000000  4.95           699000000
12  2007 2007-12-31    MMM  24462000000  5.70           718000000
13  2006 2006-12-31    MMM  22923000000  5.15           747000000
14  2005 2005-12-31    MMM  21167000000  4.23           764000000

In [70]:
# Check data types
df_copy.dtypes

Year                           int64
Date                  datetime64[ns]
Ticker                        object
Revenue                        int64
EPS                          float64
Shares Outstanding             int64
dtype: object

In [72]:
# Add a Month column
df_copy['Month']=df_copy['Date'].apply(lambda x:x.month).astype(int)
df_copy

/Users/marshallwolfe/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    Year       Date Ticker      Revenue   EPS  Shares Outstanding  Month
0   2019 2019-12-31    MMM  32136000000  7.92           577000000     12
1   2018 2018-12-31    MMM  32765000000  9.09           588500000     12
2   2017 2017-12-31    MMM  31657000000  8.13           597500000     12
3   2016 2016-12-31    MMM  30109000000  8.35           604700000     12
4   2015 2015-12-31    MMM  30274000000  7.72           625600000     12
5   2014 2014-12-31    MMM  31821000000  7.63           649200000     12
6   2013 2013-12-31    MMM  30871000000  6.83           681900000     12
7   2012 2012-12-31    MMM  29904000000  6.40           693900000     12
8   2011 2011-12-31    MMM  29611000000  6.05           708500000     12
9   2010 2010-12-31    MMM  26662000000  5.72           713700000     12
10  2009 2009-12-31    MMM  23123000000  2.04           700500000     12
11  2008 2008-12-31    MMM  25269000000  4.95           699000000     12
12  2007 2007-12-31    MMM  24462000000  5.70           718000000     12
13  2006 2006-12-31    MMM  22923000000  5.15           747000000     12
14  2005 2005-12-31    MMM  21167000000  4.23           764000000     12

In [73]:
# Add a FY column
df_copy['FY'] = df_copy['Year']
df_copy

/Users/marshallwolfe/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    Year       Date Ticker      Revenue   EPS  Shares Outstanding  Month    FY
0   2019 2019-12-31    MMM  32136000000  7.92           577000000     12  2019
1   2018 2018-12-31    MMM  32765000000  9.09           588500000     12  2018
2   2017 2017-12-31    MMM  31657000000  8.13           597500000     12  2017
3   2016 2016-12-31    MMM  30109000000  8.35           604700000     12  2016
4   2015 2015-12-31    MMM  30274000000  7.72           625600000     12  2015
5   2014 2014-12-31    MMM  31821000000  7.63           649200000     12  2014
6   2013 2013-12-31    MMM  30871000000  6.83           681900000     12  2013
7   2012 2012-12-31    MMM  29904000000  6.40           693900000     12  2012
8   2011 2011-12-31    MMM  29611000000  6.05           708500000     12  2011
9   2010 2010-12-31    MMM  26662000000  5.72           713700000     12  2010
10  2009 2009-12-31    MMM  23123000000  2.04           700500000     12  2009
11  2008 2008-12-31    MMM  25269000000  4.95           699000000     12  2008
12  2007 2007-12-31    MMM  24462000000  5.70           718000000     12  2007
13  2006 2006-12-31    MMM  22923000000  5.15           747000000     12  2006
14  2005 2005-12-31    MMM  21167000000  4.23           764000000     12  2005

In [74]:
# Reorder columns
df_copy=df_copy[['Year','FY','Month','Date','Ticker','Revenue','EPS','Shares Outstanding']]
df_copy

    Year    FY  Month       Date Ticker      Revenue   EPS  Shares Outstanding
0   2019  2019     12 2019-12-31    MMM  32136000000  7.92           577000000
1   2018  2018     12 2018-12-31    MMM  32765000000  9.09           588500000
2   2017  2017     12 2017-12-31    MMM  31657000000  8.13           597500000
3   2016  2016     12 2016-12-31    MMM  30109000000  8.35           604700000
4   2015  2015     12 2015-12-31    MMM  30274000000  7.72           625600000
5   2014  2014     12 2014-12-31    MMM  31821000000  7.63           649200000
6   2013  2013     12 2013-12-31    MMM  30871000000  6.83           681900000
7   2012  2012     12 2012-12-31    MMM  29904000000  6.40           693900000
8   2011  2011     12 2011-12-31    MMM  29611000000  6.05           708500000
9   2010  2010     12 2010-12-31    MMM  26662000000  5.72           713700000
10  2009  2009     12 2009-12-31    MMM  23123000000  2.04           700500000
11  2008  2008     12 2008-12-31    MMM  25269000000  4.95           699000000
12  2007  2007     12 2007-12-31    MMM  24462000000  5.70           718000000
13  2006  2006     12 2006-12-31    MMM  22923000000  5.15           747000000
14  2005  2005     12 2005-12-31    MMM  21167000000  4.23           764000000

In [75]:
mask = (df_copy['Month'] < 3)
df_copy['FY'][mask] = df_copy['Year'][mask]-1
df_copy

/Users/marshallwolfe/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/marshallwolfe/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:8765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

    Year    FY  Month       Date Ticker      Revenue   EPS  Shares Outstanding
0   2019  2019     12 2019-12-31    MMM  32136000000  7.92           577000000
1   2018  2018     12 2018-12-31    MMM  32765000000  9.09           588500000
2   2017  2017     12 2017-12-31    MMM  31657000000  8.13           597500000
3   2016  2016     12 2016-12-31    MMM  30109000000  8.35           604700000
4   2015  2015     12 2015-12-31    MMM  30274000000  7.72           625600000
5   2014  2014     12 2014-12-31    MMM  31821000000  7.63           649200000
6   2013  2013     12 2013-12-31    MMM  30871000000  6.83           681900000
7   2012  2012     12 2012-12-31    MMM  29904000000  6.40           693900000
8   2011  2011     12 2011-12-31    MMM  29611000000  6.05           708500000
9   2010  2010     12 2010-12-31    MMM  26662000000  5.72           713700000
10  2009  2009     12 2009-12-31    MMM  23123000000  2.04           700500000
11  2008  2008     12 2008-12-31    MMM  25269000000  4.95           699000000
12  2007  2007     12 2007-12-31    MMM  24462000000  5.70           718000000
13  2006  2006     12 2006-12-31    MMM  22923000000  5.15           747000000
14  2005  2005     12 2005-12-31    MMM  21167000000  4.23           764000000

In [23]:
# df_copy['YoY Revenue Change'] = df_copy['FY','Ticker']

In [76]:
revenue_change = (df_copy.loc[(df_copy['FY'] == 2019) & (df_copy['Ticker'] == 'MMM')]['Revenue'].iloc[0]) - (df_copy.loc[(df_copy['FY'] == 2018) & (df_copy['Ticker'] == 'MMM')]['Revenue'].iloc[0])
revenue_change

-629000000

In [84]:
for ticker_name in df_copy['Ticker']:
    while df_copy['FY'] == 2019 & df_copy['Ticker'] == 'MMM':
        print(ticker_name)
    #for fiscal_year in df_copy['FY'==2019]:
    #for ticker_name in df_copy['Ticker']:
        #print(ticker_name)

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]

In [34]:
df_copy['YoY Revenue Change'].loc[(df_copy['FY'] == 2019) & (df_copy['Ticker'] == 'MMM')] = (df_copy.loc[(df_copy['FY'] == 2019) & (df_copy['Ticker'] == 'MMM')]['Revenue'].iloc[0]) - (df_copy.loc[(df_copy['FY'] == 2018) & (df_copy['Ticker'] == 'MMM')]['Revenue'].iloc[0])
df_copy

/Users/marshallwolfe/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,Year,FY,Month,Date,Ticker,Revenue,EPS,Shares Outstanding,YoY Revenue Change
0,2019,2019,12,2019-12-31,MMM,3.213600e+10,7.92,5.770000e+08,-629000000.0
1,2019,2019,12,2019-12-31,AXP,4.355600e+10,7.99,8.280000e+08,-629000000.0
2,2019,2019,9,2019-09-28,AAPL,2.601740e+11,11.97,4.617834e+09,-629000000.0
3,2019,2019,12,2019-12-31,BA,7.655900e+10,-1.12,5.654000e+08,-629000000.0
4,2019,2019,12,2019-12-31,CAT,5.380000e+10,10.85,5.616000e+08,-629000000.0
5,2019,2019,12,2019-12-31,CVX,1.465160e+11,1.55,1.882000e+09,-629000000.0
6,2019,2019,7,2019-07-27,CSCO,5.190400e+10,2.63,4.419000e+09,-629000000.0
7,2019,2019,12,2019-12-31,DOW,4.295100e+10,-1.84,7.425000e+08,-629000000.0
8,2019,2019,12,2019-12-31,XOM,2.649380e+11,3.36,4.270000e+09,-629000000.0
9,2019,2019,12,2019-12-31,GS,3.654600e+10,21.18,3.716000e+08,-629000000.0
10,2019,2019,12,2019-12-31,IBM,7.714700e+10,10.63,8.872351e+08,-629000000.0
11,2019,2019,12,2019-12-28,INTC,7.196500e+10,4.77,4.417000e+09,-629000000.0
12,2019,2019,12,2019-12-29,JNJ,8.205900e+10,5.72,2.645100e+09,-629000000.0
13,2019,2019,12,2019-12-31,JPM,1.156270e+11,10.75,3.221500e+09,-629000000.0
14,2019,2019,12,2019-12-31,MCD,2.107650e+10,7.95,7.581000e+08,-629000000.0
15,2019,2019,12,2019-12-31,MRK,4.684000e+10,3.84,2.565000e+09,-629000000.0
16,2019,2019,6,2019-06-30,MSFT,1.258430e+11,5.11,7.673000e+09,-629000000.0
17,2019,2019,5,2019-05-31,NKE,3.911700e+10,2.55,1.579700e+09,-629000000.0
18,2019,2019,12,2019-12-31,PFE,5.175000e+10,2.92,5.569000e+09,-629000000.0
19,2019,2019,6,2019-06-30,PG,6.768400e+10,1.45,2.503600e+09,-629000000.0
20,2019,2019,12,2019-12-31,RTX,5.400400e+10,6.48,8.548000e+08,-629000000.0
21,2019,2019,12,2019-12-31,KO,3.726600e+10,2.09,4.276000e+09,-629000000.0
22,2020,2019,2,2020-02-02,HD,1.102250e+11,10.29,1.093000e+09,-629000000.0
23,2019,2019,12,2019-12-31,TRV,3.158100e+10,10.01,2.600000e+08,-629000000.0
24,2019,2019,9,2019-09-28,DIS,6.957000e+10,6.68,1.656000e+09,-629000000.0
25,2019,2019,12,2019-12-31,UNH,2.421550e+11,14.55,9.510000e+08,-629000000.0
26,2019,2019,12,2019-12-31,VZ,1.318680e+11,4.66,4.138000e+09,-629000000.0
27,2019,2019,9,2019-09-30,V,2.297700e+10,5.32,1.742000e+09,-629000000.0
28,2019,2019,8,2019-08-31,WBA,1.368660e+11,4.32,9.215000e+08,-629000000.0
29,2020,2019,1,2020-01-31,WMT,5.239640e+11,5.22,2.850000e+09,-629000000.0
30,2018,2018,12,2018-12-31,MMM,3.276500e+10,9.09,5.885000e+08,-629000000.0
31,2018,2018,12,2018-12-31,AXP,4.033800e+10,7.91,8.560000e+08,-629000000.0
32,2018,2018,9,2018-09-29,AAPL,2.655950e+11,12.01,4.955377e+09,-629000000.0
33,2018,2018,12,2018-12-31,BA,1.011270e+11,18.05,5.792000e+08,-629000000.0
34,2018,2018,12,2018-12-31,CAT,5.472200e+10,10.39,5.914000e+08,-629000000.0
35,2018,2018,12,2018-12-31,CVX,1.663390e+11,7.81,1.897000e+09,-629000000.0
36,2018,2018,7,2018-07-28,CSCO,4.933000e+10,0.02,4.837000e+09,-629000000.0
38,2018,2018,12,2018-12-31,XOM,2.902120e+11,4.88,4.270000e+09,-629000000.0
39,2018,2018,12,2018-12-31,GS,3.661600e+10,25.53,3.854000e+08,-629000000.0
40,2018,2018,12,2018-12-31,IBM,7.959100e+10,9.57,9.120481e+08,-629000000.0
41,2018,2018,12,2018-12-29,INTC,7.084800e+10,4.57,4.611000e+09,-629000000.0
42,2018,2018,12,2018-12-30,JNJ,8.158100e+10,5.70,2.681500e+09,-629000000.0
43,2018,2018,12,2018-12-31,JPM,1.090290e+11,9.04,3.396400e+09,-629000000.0
44,2018,2018,12,2018-12-31,MCD,2.102520e+10,7.61,7.782000e+08,-629000000.0
45,2018,2018,12,2018-12-31,MRK,4.229400e+10,2.34,2.664000e+09,-629000000.0
46,2018,2018,6,2018-06-30,MSFT,1.103600e+11,2.15,7.700000e+09,-629000000.0
47,2018,2018,5,2018-05-31,NKE,3.639700e+10,1.19,1.623800e+09,-629000000.0
48,2018,2018,12,2018-12-31,PFE,5.364700e+10,1.90,5.872000e+09,-629000000.0
49,2018,2018,6,2018-06-30,PG,6.683200e+10,3.75,2.529300e+09,-629000000.0
50,2018,2018,12,2018-12-31,RTX,6.650100e+10,6.58,8.004000e+08,-629000000.0
51,2018,2018,12,2018-12-31,KO,3.185600e+10,1.51,4.259000e+09,-629000000.0
52,2019,2018,2,2019-02-03,HD,1.082030e+11,9.78,1.137000e+09,-629000000.0
53,2018,2018,12,2018-12-31,TRV,3.028200e+10,9.37,2.674000e+08,-629000000.0
55,2018,2018,12,2018-12-31,UNH,2.262470e+11,12.45,9.630000e+08,-629000000.0
56,2018,2018,12,2018-12-31,VZ,1.308630e+11,3.76,4.128000e+09,-629000000.0
57,2018,2018,9,2018-09-30,V,2.060900e+10,4.43,1.792000e+09,-629000000.0
58,2018,2018,8,2018-08-31,WBA,1.315370e+11,5.07,9.910000e+08,-629000000.0
59,2019,2018,1,2019-01-31,WMT,5.144050e+11,2.28,2.929000e+09,-629000000.0

In [29]:
df_copy.loc[(df_copy['FY'] == 2019) & (df_copy['Ticker'] == 'MMM')]['Revenue'].iloc[0]

32136000000.0

In [24]:
df_copy['Ticker'] == 'MMM'

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
31    False
32    False
33    False
34    False
35    False
36    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
55    False
56    False
57    False
58    False
59    False
Name: Ticker, dtype: bool

## For formatting changes later:

In [60]:
# dow_is_df['Revenue']=dow_is_df['Revenue'].astype(int).apply(lambda x: "{:,}".format(x))
# dow_is_df['Shares Outstanding']=dow_is_df['Shares Outstanding'].astype(int).apply(lambda x: "{:,}".format(x)) 
# dow_is_df

# To apply format changes to all float columns:
# pd.options.display.float_format = '{:,.2f}'.format